# 第n高薪水
    表: Employee

    +-------------+------+
    | Column Name | Type |
    +-------------+------+
    | id          | int  |
    | salary      | int  |
    +-------------+------+
    在 SQL 中，id 是该表的主键。
    该表的每一行都包含有关员工工资的信息。
    

    查询 Employee 表中第 n 高的工资。如果没有第 n 个最高工资，查询结果应该为 null 。

    查询结果格式如下所示。

    

    示例 1:

    输入: 
    Employee table:
    +----+--------+
    | id | salary |
    +----+--------+
    | 1  | 100    |
    | 2  | 200    |
    | 3  | 300    |
    +----+--------+
    n = 2
    输出: 
    +------------------------+
    | getNthHighestSalary(2) |
    +------------------------+
    | 200                    |
    +------------------------+
    示例 2:

    输入: 
    Employee 表:
    +----+--------+
    | id | salary |
    +----+--------+
    | 1  | 100    |
    +----+--------+
    n = 2
    输出: 
    +------------------------+
    | getNthHighestSalary(2) |
    +------------------------+
    | null                   |
    +------------------------+

In [40]:
import pandas as pd 
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    #按照薪水从高到低排序
    employee=employee.sort_values(by='salary',ascending=False)
    
    #去掉重复的数据
    employee=employee.drop_duplicates(subset='salary',keep='first')
    
    if len(employee)>= N:
    #返回行数或者列数，具体取决于使用了行索引还是列索引
        # return pd.DataFrame({"getNthHighestSalary({})".format(N):[employee.iloc[N-1]['salary']]})
        return pd.DataFrame({"getNthHighestSalary({})".format(N):[employee.iloc[N-1]['salary']]})
    else:
        # return pd.DataFrame({f"getNthHighestSalary({N-1})":[None]})
        return pd.DataFrame({f"getNthHighestSalary({N})":[None]})
    #需要有[None],不能直接是None，因为当进行索引和迭代操作时通常使用列表
    
# if __name__=="main":
#检查当前模块是否时主模块
employee=pd.DataFrame({"id":[1,2,3],"salary":[100,200,300]})
#默认情况下是进行行索引的
print(nth_highest_salary(employee,2))

   getNthHighestSalary(2)
0                     200

In [37]:
import pandas as pd
n=3
# employee=pd.DataFrame({"id":[1,2,3],"salary":[100,200,300]})
employee=pd.DataFrame({"id":[1],"salary":[100]})
employee

   id  salary
0   1     100

# python中200与[200]有什么区别
    数据类型：
        200是一个整数。
        [200]是一个包含一个元素（即200）的列表。
    可变性：
        整数是不可变的，这意味着你不能更改一个整数的值。
        列表是可变的，这意味着你可以更改、添加或删除列表中的元素。
    当你进行数学运算（如加法、减法、乘法等）时，你通常会使用整数，
    而当你进行索引、迭代或其他类似的操作时，你可能会使用列表。

In [23]:
a=employee.iloc[1]['salary']
print(a)
b=[employee.iloc[1]['salary']]
print(b)

200
[200]